# dependencies
node_modules/
.pnpm-store/

# builds
.next/
out/
dist/
build/
*.tsbuildinfo

# turbo
.turbo/

# generated
**/generated/
.vercel/

# env
.env
.env.*
!.env.example

# test
coverage/

# editor / os
.DS_Store
.idea/
*.swp

# logs
*.log
npm-debug.log*
pnpm-debug.log*
